### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.venv
out
gen
/data
/data_bonefib
/data_fused
/data_fused3
/runs
/data_distract
/data_struct
logs
results
experiments
.DS_Store
__pycache__
src.zip